* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f6f3;
    color: #2f2f2f;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 100%;
}


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.profile-link{
    display: inline-block;
}

.profile-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-link:hover img{
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.profile img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #6b7c8f;
    margin-bottom: 15px;
}

.profile h1 {
    font-size: 2.3rem;
    color: #3a4a5a;
}


article {
    background-color: #fcfcfb;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

article h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #d6d6d6;
    padding-bottom: 5px;
    color: #4a5d73;
}

article p {
    font-size: 1rem;
}

small {
    color: #7a7a7a;
    font-style: italic;
}

@media (min-width: 768px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .profile {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        text-align: left;
    }

    .profile img {
        margin-bottom: 0;
    }
}